<div class="col-xs-10" >
  <div class="form-group">
    <label>Login</label>
    <input [(ngModel)]="user.name"
           placeholder="Name"
           type="text" class="form-control"
           #name="ngModel" required>
    <div [hidden]="name.valid" class="alert alert-danger">
      Name required!
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input [(ngModel)]="user.password"
           placeholder="Password"
           type="password"
           class="form-control"
           #password="ngModel" required>
    <div [hidden]="password.valid" class="alert alert-danger">
      Password required!
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="name.invalid || password.invalid"
            class="btn btn-default"
            (click)="login()">
      Login
    </button>
  </div>
  <button class="btn btn-default"
          (click)="toRegister()">
    Go to registration
  </button>
</div>
