<h2>All we have</h2>

<div *ngxPermissionsOnly="['user']"> user mode</div>
<div *ngxPermissionsOnly="['admin']"> admin mode</div>

<form *ngxPermissionsOnly="['admin','user']" novalidate #myForm="ngForm">
    <kendo-grid [data]="view | async"
                [height]="550"
                (dataStateChange)="onStateChange($event)">
        <kendo-grid-column field="id" title="ID" width="60" editable="false" nullable="false">
        </kendo-grid-column>
        <kendo-grid-column field="name" title="Name" width="250">
        </kendo-grid-column>
        <kendo-grid-column field="type" title="Type of publication" width="250">
        </kendo-grid-column>
    </kendo-grid>
</form>

<div *ngxPermissionsExcept="['admin','user']">
    <h1>Login to see more</h1>
</div>
