
<h2>Publication Houses</h2>

<div *ngxPermissionsOnly="['user']"> user mode</div>
<div *ngxPermissionsOnly="['admin']"> admin mode</div>

<form novalidate #myForm="ngForm">
    <kendo-grid [data]="view | async"
                [height]="550"
                (dataStateChange)="onStateChange($event)"
                (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
                (save)="saveHandler($event)" (remove)="removeHandler($event)"
                [navigable]="true"
                (add)="addHandler($event, myForm)">
        <ng-template kendoGridToolbarTemplate *ngxPermissionsOnly="['admin']">
            <button kendoGridAddCommand type="button" class="btn">Add new</button>
        </ng-template>
        <kendo-grid-column field="id" title="ID" width="80" editable="false" nullable="false">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.id" kendoGridFocusable name="id" class="k-textbox" hidden />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="name" title="Name" width="200">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.name" kendoGridFocusable name="name" class="k-textbox" placeholder="Name" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="address" title="Address" width="200">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.address" kendoGridFocusable name="address" class="k-textbox" placeholder="Address" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="booksIn" title="Books in Publishing" width="200">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <p *ngFor="let b of dataItem.bookList">{{b.title}}</p>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <kendo-multiselect [data]="allBookList"
                                   [(ngModel)]="selectedBookList"
                                   [textField]="'title'"
                                   [valueField]="'id'"
                                   [placeholder]="'Select some...'"
                                   [ngModelOptions]="{standalone: true}">
                </kendo-multiselect>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column *ngxPermissionsOnly="['admin']" title=" " width="220">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridEditCommand type="button" [primary]="true">Edit</button>
                <button kendoGridRemoveCommand type="button">Remove</button>
                <button kendoGridSaveCommand type="button" [disabled]="myForm.invalid"> {{ isNew ? 'Add' : 'Update' }} </button>
                <button kendoGridCancelCommand type="button">{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</form>
