
<div *ngxPermissionsOnly="['admin','user']">
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-item" [routerLink]="['']">Library</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['magazine']">Magazines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['brochure']">Brochures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['publicationHouse']">Publication Houses</a>
      </li>
      <li *ngxPermissionsExcept="['admin','user']" class="nav-item">
        <a class="nav-link" [routerLink]="['authorization/login']">Login</a>
      </li>
      <li *ngxPermissionsOnly="['admin','user']" class="nav-item">
        <a class="nav-link" (click)="logOut()">Log Out</a>
      </li>
    </ul>
  </nav>
</div>

<div *ngxPermissionsExcept="['admin','user']">
  <h2> Login to see some more</h2>
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-item" [routerLink]="['']">Library</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['authorization/login']">Login</a>
      </li>
    </ul>
  </nav>
</div>

