<div class="col-xs-10">
  <div class="form-group">
    <label>Login</label>
    <input [(ngModel)]="user.name"
            placeholder="Name"
            type="text" class="form-control"
            #name="ngModel" required>
    <div [hidden]="name.valid" class="alert alert-danger">
      Name required!
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input [(ngModel)]="user.password"
            placeholder="Password"
            type="password"
            class="form-control"
            #password="ngModel" required>
    <div [hidden]="password.valid" class="alert alert-danger">
      Password required!
    </div>
  </div>
  <div class="form-group">
    <label>EMail</label>
    <input [(ngModel)]="user.email" placeholder="EMail" type="email" class="form-control">
  </div>
  <div class="form-group">
    <div class="row">
       Are you Admin?
      <input type="checkbox" [(ngModel)]="adminCheckbox" />
    </div>
    <button [disabled]="name.invalid || password.invalid"
            class="btn btn-default"
            (click)="register()">
      Register
    </button>
  </div>
</div>
