
<h2>Books</h2>

<div *ngxPermissionsOnly="['user']"> user mode</div>
<div *ngxPermissionsOnly="['admin']"> admin mode</div>

<form *ngxPermissionsOnly="['admin','user']" novalidate #myForm="ngForm">
    <kendo-grid [data]="view | async"
                [height]="550"
                (dataStateChange)="onStateChange($event)"
                (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
                (save)="saveHandler($event)" (remove)="removeHandler($event)"
                [navigable]="true"
                (add)="addHandler($event, myForm)">
        <ng-template kendoGridToolbarTemplate *ngxPermissionsOnly="['admin']">
            <button kendoGridAddCommand type="button" class="btn">Add new</button>
        </ng-template>
        <kendo-grid-column field="id" title="ID" width="80" editable="false" nullable="false">
        </kendo-grid-column>
        <kendo-grid-column field="title" title="Title" width="200">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.title" kendoGridFocusable name="title" class="k-textbox" placeholder="Title" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="authorName" title="Author Name" width="200">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.authorName" kendoGridFocusable name="authorName" class="k-textbox" placeholder="Author name" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="yearOfPublish" title="Year Of Publish" width="200">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.yearOfPublish" type="number" kendoGridFocusable name="yearOfPublish" class="k-textbox" placeholder="YearOfPublish" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="publicationHouseList" title="Publishing in" width="200">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <p *ngFor="let p of dataItem.publicationHouseList">{{p.name}}</p>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <kendo-multiselect [data]="allPublicationHouseList"
                                   [(ngModel)]="selectedPublicationHouseList"
                                   [textField]="'name'"
                                   [valueField]="'id'"
                                   [placeholder]="'Select some...'"
                                   [ngModelOptions]="{standalone: true}">
                </kendo-multiselect>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column *ngxPermissionsOnly="['admin']" title=" " width="220">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridEditCommand type="button" [primary]="true">Edit</button>
                <button kendoGridRemoveCommand type="button">Remove</button>
                <button kendoGridSaveCommand type="button" [disabled]="myForm.invalid"> {{ isNew ? 'Add' : 'Update' }} </button>
                <button kendoGridCancelCommand type="button">{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</form>

<div *ngxPermissionsExcept="['admin','user']">
    <h1>Login to see more</h1>
</div>
