
<h2>Magazines</h2>

<div *ngxPermissionsOnly="['user']"> user mode</div>
<div *ngxPermissionsOnly="['admin']"> admin mode</div>

<form *ngxPermissionsOnly="['admin','user']" novalidate #myForm="ngForm">
    <kendo-grid [data]="view | async"
                [height]="550"
                (dataStateChange)="onStateChange($event)"
                (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
                (save)="saveHandler($event)" (remove)="removeHandler($event)"
                (add)="addHandler($event, myForm)">
        <ng-template kendoGridToolbarTemplate *ngxPermissionsOnly="['admin']">
            <button kendoGridAddCommand type="button" class="btn">Add new</button>
        </ng-template>
        <kendo-grid-column field="id" title="ID" width="40" editable="false" nullable="false">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.id" kendoGridFocusable name="id" class="k-textbox" hidden />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="name" title="Name" width="200">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.name" kendoGridFocusable name="name" class="k-textbox" placeholder="Name" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="issue" title="issue" width="200">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.issue" kendoGridFocusable name="issue" class="k-textbox" placeholder="Issue" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="yearOfPublishing" title="Year Of Publish" width="140">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.yearOfPublishing" type="number" kendoGridFocusable name="yearOfPublishing" class="k-textbox" placeholder="Year Of publishing" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column *ngxPermissionsOnly="['admin']" title=" " width="220">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridEditCommand type="button" [primary]="true">Edit</button>
                <button kendoGridRemoveCommand type="button">Remove</button>
                <button kendoGridSaveCommand type="button" [disabled]="myForm.invalid || myForm.pristine"> {{ isNew ? 'Add' : 'Update' }} </button>
                <button kendoGridCancelCommand type="button">{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</form>

<div *ngxPermissionsExcept="['admin','user']">
    <h1>Login to see more</h1>
</div>
