<h2>Brochures</h2>

<div *ngxPermissionsOnly="['user']"> user mode</div>
<div *ngxPermissionsOnly="['admin']"> admin mode</div>

<form *ngxPermissionsOnly="['user','admin']" novalidate #myForm="ngForm">
    <kendo-grid [data]="view | async"
                [height]="550"
                (dataStateChange)="onStateChange($event)"
                (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
                (save)="saveHandler($event)" (remove)="removeHandler($event)"
                (add)="addHandler($event, myForm)">
        <ng-template kendoGridToolbarTemplate *ngxPermissionsOnly="['admin']">
            <button kendoGridAddCommand type="button" class="btn">Add new</button>
        </ng-template>
        <kendo-grid-column field="id" title="ID" width="40" editable="false" nullable="false">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.id" kendoGridFocusable name="id" class="k-textbox" hidden />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="name" title="Name" width="200">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.name" kendoGridFocusable name="name" class="k-textbox" placeholder="Name" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="numberOfPages" title="Number of Pages" width="200">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.numberOfPages" type="number" kendoGridFocusable name="numberOfPages" class="k-textbox" placeholder="Number of pages" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="typeOfCover" title="Type of Cover" width="140">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <span>{{TypeOfCover[dataItem.typeOfCover]}}</span>
            </ng-template>
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <select [(ngModel)]="dataItem.typeOfCover" kendoGridFocusable name="typeOfCover" class="k-textbox" placeholder="Type Of Cover">
                    <option value="0">Hard</option>
                    <option value="1">Soft</option>
                </select>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column *ngxPermissionsOnly="['admin']" title=" " width="220">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridEditCommand type="button" [primary]="true">Edit</button>
                <button kendoGridRemoveCommand type="button">Remove</button>
                <button kendoGridSaveCommand type="button" [disabled]="myForm.invalid || myForm.pristine"> {{ isNew ? 'Add' : 'Update' }} </button>
                <button kendoGridCancelCommand type="button">{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</form>

<div *ngxPermissionsExcept="['admin','user']">
    <h1>Login to see more</h1>
</div>
